html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;

  background: #000000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  font-weight: normal;
}

p {
  margin: 0;
}

/* General container */
.general-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.general-container.full {
  padding: 0;
}

/* Tittle */
.tittle-wrap {
  position: relative;

  max-width: 50%;
  margin: 0 auto;
  padding-top: 100px ;
  padding-bottom: 60px;

  text-align: center;
}

.tittle-wrap::after {
  position: absolute;
  top: 58%;
  left: 0px;
  z-index: -1;

  display: block;
  width: 100%;
  height: 2px;

  content: "";
  background-color: #bdae82;
}

.section-tittle {
  display:inline;
  padding: 0 20px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;

  background-color: #000000;
  color: #bdae82;
}

.section-tittle.contact {
  padding: 0;
  background-color: transparent;
}

/* Button */
.button {
  width: 220px;
  height: 55px;
  border: 0;

  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;

  background-color: #bdae82;

  cursor: pointer;
  transition: color 0.3s linear;
}

.button:hover {
  color: #ffffff;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 0 20px;

  background: url('assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo-icon {
  display: block;
  width: 50px;
  height: 50px;

  fill: #ffffff;

  transition: fill 0.3s linear;
}

.logo-icon:hover {
  fill: #bdae82;
}

.nav {
  width: 500px;
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-link {
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;

  transition: color 0.3s linear;
}

.nav-link:hover {
  color: #bdae82;
}

.lang-link,
.lang-slash {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.lang-link.active {
  color: #bdae82;
}

.lang {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.nav-toggle {
  position: absolute;
  display: none;
}

.nav-toggle-item {
  display: block;
  width: 50px;
  height: 3px;
  margin: 10px auto;
  background-color: #ffffff;
  transition: all .2s linear;
}

.nav_toggle.active .nav_toggle_item {
  background: none;
}

.nav_toggle.active {
  transform-origin: left;
  transform: rotate(45deg) translateY(-3px);
}

.nav_toggle.active{
  transform-origin: left;
  transform: rotate(-45deg)translateY(3px);
}


/* Hero */
.hero-container {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-top: 160px;
  padding-left: 80px;

  background-image: url('assets/img/bg.jpg');
  background-position: center -92px;
  background-repeat: no-repeat;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  width: 35%;
  height: 660px;
}

.hero-tittle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}

.hero-text {
  padding-bottom: 15px;

  text-align: left;
}

/* Skills */
.skill-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;

  flex-basis: 25%;
}

.skill-subtittle {
  padding-top: 30px;

  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.skill-icon {
  width: 60px;
  height: 50px;

  fill: #bdae82;
}

.skill-text {
  text-align: center;
  font-size: 18px;
}

/* Portfolio */
.portfolio-form {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.portfolio-button {
  width: 220px;
  height: 55px;
  border: 2px solid #bdae82;

  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;

  background-color: #000000;

  cursor: pointer;
  transition: color, background-color 0.3s linear;
}

.portfolio-button:hover {
  color: #ffffff;
}

.portfolio-button.active {
  color: #000000;
  background-color: #bdae82;
}

.portfolio-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio-item {
  flex-basis: 32%;
}

.portfolio-img {
  display: block;
}

/* Video */
.video-container {
  position: relative;
}

.video {
  display: block;
  width: 100%;
  height: auto;
}

.video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  border: 0;

  background-color: transparent;

  transform: translateX(-50%) translateY(-50%);
}

.video-icon {
  width: 130px;
  height: 130px;

  fill: #ffffff;

  transition: fill 0.3s linear;
}

.video-icon:hover {
  fill: #bdae82;
}

/* Price */
.price-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 100px;
}

.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex-basis: 58%;
  border: 3px solid #bdae82;
  padding: 40px;

  text-align: center;
}

.price_subtittle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
}

.price {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #BDAE82;
}

.price-description {
  padding-bottom: 20px;
}

.description-item {
  display: block;

  font-size: 18px;
  line-height: 36px;
}

/* Contacts */
.contact-container {
  display: flex;
  justify-content: end;
  align-items: start;
  height: 700px;
  padding-top: 60px;

  background-image: url('assets/img/contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  flex-basis: 470px;
  padding-right: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.contact_input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-top: 5px;
  border: 2px solid #bdae82;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;

  background-color: transparent;
}


.contact_textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding-left: 20px;
  padding-top: 5px;
  border: 2px solid #bdae82;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;

  background-color: transparent;
}

::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.button.contact {
  margin-top: 10px;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.footer-item {
  flex: 1 1;
}

.footer-item.center {
  flex: 2 1;
  text-align: center;
}

.info {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;

  transition: color 0.3s linear;
}

.footer-link:hover {
  color: #bdae82;
}

.icon-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.icon-item {
  line-height: 0px;
}

.footer-icon {
  width: 32px;
  height: 32px;

  fill: #ffffff;

  transition: fill 0.3s linear;
}

.footer-icon:hover {
  fill: #bdae82;
}

@media (max-width: 1200px) {
  /* Header */
  .header-container {
     padding: 0 5%;
  }

  /* Hero */
  .hero-container {
    padding-top: 10%;
    padding-left: 5%;
  }

  .hero-text {
    line-height: 35px;
}

  /* Scills */
  .skill-container {
    flex-wrap: wrap;
  }

  /* Contacts */
  .contact-container {
    padding: 0 5%;
  }

  /* Footer */
  .footer-container{
    padding: 0 5%;
  }

}

@media (max-width: 1024px) {
  /* Hero */
  .hero-container {
    padding-top: 15%;
  }

  .hero-inner {
    width: 45%;
  }

  .hero-tittle {
    font-size: 45px;
    line-height: 80px;
  }

  .hero-text {
    line-height: 32px;
  }

  /* Portfolio */
  .portfolio-form {
    flex-wrap: wrap;
  }

    /* Price */
    .price-container {
      flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
   /* Tittle */
  .tittle-wrap {
    padding-bottom: 65px;
  }

  .section-tittle {
    padding: 0 20px;
    font-size: 32px;
    line-height: 40px;
  }

   /* Header */
   .header-container {
    gap: 20px;
    padding: 0 8%;
    background-position: 0px -20px;
    background-size: auto 610px;
   }

   .nav {
      display: none;
   }

   .lang {
     width: 90px;
     margin-left: auto;
   }

   .nav-toggle {
    position: static;
    display: block;
    cursor: pointer;
  }

   /* Hero */
  .hero-container {
    padding-left: 8%;
    padding-top: 10%;
    background-position: 0px -110px;
    background-size: auto 610px;
  }

  .hero-inner {
    height: 420px;
    width: 55%;
    gap: 20px;
  }

  .hero-tittle {
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
  }

  .hero-text {
    line-height: 24px;
    padding-bottom: 40px;
  }

  /* Skills */
  .skill-container {
    padding-bottom: 45px;
  }

  .skill-item {
    flex-basis: 42%;
  }

  .skill-subtittle {
    padding-top: 10px;
}

  .skill-text{
    padding-bottom: 35px;
    line-height: 22px;
  }

  /* Portfolio */
  .portfolio-form {
    width: 80%;
    padding-bottom: 60px;
  }

   /* Video */
  .video-wrap {
    padding-top: 5px;
  }

   .video-container {
    overflow: hidden;
    margin: 0 -20px;
  }

  .video {
    height: 415px;
    width: auto;
  }

  .video-icon {
    width: 65px;
    height: 65px;
  }

  /* Price */
  .price-container {
    gap: 50px;
    padding-bottom: 80px;
  }

  .price-item {
    flex-basis: 58%;
  }

  /* Contacts */
  .contact-container {
    justify-content: center;
    align-items: start;
    max-height: 600px;
    padding: 70px;
  }

  .contact-inner {
    padding-right: 0;
    flex-basis: 450px;
  }

  .contact-form {
    align-items: center;
  }

  .section-tittle.contact {
    text-align: center;
    padding-bottom: 10px;
  }

  /* Footer */
  .footer-container{
    align-items: end;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
  }

  .footer-item,
  .footer-item.center {
    flex: 100%;
  }

  .info,
  .icon-list {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  /* Portfolio */
  .portfolio-item {
    flex-basis: 300px;
  }

  .portfolio-img {
    width: 100%;
  }

}